.imagem {
    background-color: grey;
}
.foto {
    border: solid;
    border-radius: 50%;
}
.meu_nome{
    font-family: Verdana ;
    font-size: 40px;
}

#texto {
    background-color: rgba(9, 9, 22, 0.363);
}


.sobre {
    background-color: rgb(3,15,3);
}
h1{
    color: white;
}
a{
    text-decoration: line-through;
}
ul{
    list-style-type:square;

}
ol{
    list-style-type: upper-roman;
}